{
    "swagger": "2.0",
    "info": {
        "version": "2016-05-30T21:32:59Z",
        "title": "CAPI"
    },
    "host": "api.cartographer-api.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/game": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        }
                    },
                    "requestTemplates": {
                        "application/json": "[\n    #foreach($MatchId in $input.path('$'))\n    {\n        \"MatchId\": \"$MatchId\"\n    }#if($foreach.hasNext),#end\n    #end\n]\n"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:BareGamesBulkGetter/invocations",
                    "passthroughBehavior": "when_no_templates",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/game/{MatchId}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "MatchId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "MatchId",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MatchId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "404": {
                        "description": "404 response"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        },
                        ".*404 Not Found.*": {
                            "statusCode": "404",
                            "responseTemplates": {
                                "application/json": "{\n    \"statusCode\": 404,\n    \"message\": \"$input.path('$.errorMessage')\"\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "#set($mi = $input.params('MatchId'))\n{\n    \"MatchId\" : \"$util.urlDecode($mi)\"\n}"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:BareGamesGetter/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/map/game": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        }
                    },
                    "requestTemplates": {
                        "application/json": "[\n    #foreach($MapId in $input.path('$'))\n    {\n        \"MapId\": \"$MapId\"\n    }#if($foreach.hasNext),#end\n    #end\n]\n"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:MapGamesBulkGetter/invocations",
                    "passthroughBehavior": "when_no_templates",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/map/{MapId}/game": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "MapId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "MapId",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MapId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "404": {
                        "description": "404 response"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        },
                        ".*404 Not Found.*": {
                            "statusCode": "404",
                            "responseTemplates": {
                                "application/json": "{\n    \"statusCode\": 404,\n    \"message\": \"$input.path('$.errorMessage')\"\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "#set($mi = $input.params('MapId'))\n{\n    \"MapId\" : \"$util.urlDecode($mi)\"\n}"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:MapGamesGetter/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/player/game": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        }
                    },
                    "requestTemplates": {
                        "application/json": "[\n    #foreach($Gamertag in $input.path('$'))\n    {\n        \"Gamertag\": \"$Gamertag\"\n    }#if($foreach.hasNext),#end\n    #end\n]\n"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:BarePlayerGamesBulkGetter/invocations",
                    "passthroughBehavior": "when_no_templates",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/player/game/count": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        }
                    },
                    "requestTemplates": {
                        "application/json": "[\n    #foreach($Gamertag in $input.path('$'))\n    #if($Gamertag.gamertag != \"\")\n    {\n        \"Gamertag\": \"$Gamertag.gamertag\"\n    }\n    #elseif($Gamertag.Gamertag != \"\")\n    {\n        \"Gamertag\": \"$Gamertag.Gamertag\"\n    }\n    #else\n    {\n        \"Gamertag\": \"$Gamertag\"\n    }\n    #end\n    #if($foreach.hasNext),#end\n    #end\n]"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:PlayerGameCountsBulkGetter/invocations",
                    "passthroughBehavior": "when_no_templates",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/player/{Gamertag}/game": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Gamertag",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "Gamertag",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Gamertag"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "404": {
                        "description": "404 response"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        },
                        ".*404 Not Found.*": {
                            "statusCode": "404",
                            "responseTemplates": {
                                "application/json": "{\n    \"statusCode\": 404,\n    \"message\": \"$input.path('$.errorMessage')\"\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "#set($gt = $input.params('Gamertag'))\n{\n    \"Gamertag\" : \"$util.urlDecode($gt)\"\n}"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:BarePlayerGamesGetter/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        },
        "/player/{Gamertag}/game/count": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Gamertag",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "Gamertag",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Gamertag"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200 response",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "404": {
                        "description": "404 response"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-amazon-apigateway-integration": {
                    "responses": {
                        "default": {
                            "statusCode": "200"
                        },
                        ".*404 Not Found.*": {
                            "statusCode": "404",
                            "responseTemplates": {
                                "application/json": "{\n    \"statusCode\": 404,\n    \"message\": \"$input.path('$.errorMessage')\"\n}"
                            }
                        }
                    },
                    "requestTemplates": {
                        "application/json": "#set($gt = $input.params('Gamertag'))\n{\n    \"Gamertag\" : \"$util.urlDecode($gt)\"\n}"
                    },
                    "uri": "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:789201490085:function:PlayerGameCountsGetter/invocations",
                    "passthroughBehavior": "when_no_match",
                    "httpMethod": "POST",
                    "type": "aws"
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "x-api-key",
            "in": "header"
        }
    },
    "definitions": {
        "Empty": {
            "type": "object"
        },
        "MatchId": {
            "type": "object",
            "properties": {
                "MatchId": {
                    "type": "string"
                }
            }
        },
        "MapId": {
            "type": "object",
            "properties": {
                "MapId": {
                    "type": "string"
                }
            }
        },
        "Gamertag": {
            "type": "object",
            "properties": {
                "Gamertag": {
                    "type": "string"
                }
            }
        }
    }
}
